.categories_list {
    width: 30%;
    border: 1px solid rgb(240, 189, 143);
    padding: 5px 10px;
    margin: 0 5px;
    float: left;
}

.form_actions {
    padding: 5px 15px;
    border: 1px solid rgb(231, 231, 231);
    width: 100px;
    float: left;
}

.form_actions label {
    display: block;
}

.action_input_field {
    margin: 0 5px 0 10px;
}

.field_units {
    margin: 5px 138px;
}

.field_units label {
    display: block;
}

.pricecontrol_submit_button {
    margin-left: 10px;
    height: 40px;
    width: 120px;
    float: left;
}

.pricecontrol_rollback_button {
    float: right;
    height: 40px;
    #width: 160px;
}

.hasChilds:hover {
    color: #3c7182;
    cursor: pointer;
}

.hasChilds span {
    background: rgb(255, 255, 242);
}

.noChilds {
    color: #8b8b8b;
}